
:host{
  width: 98vw;
  height: 99vh;
  background: blue;
  display: block;
  background-image: url("https://images.pexels.com/photos/92083/pexels-photo-92083.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}

.title{
  font-size:50px;
}


.header-home{
  width: 40%;
  height: 50%;
  margin-left: 13%;
  margin-top: 1%;
}

